## Cross Join Pandas, Datos de las visitas cruzadas con las fechas programadas de visita

### Carga de los archivos

In [275]:
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning),
# Abrir el archivo con la informacion de las rutas ya hechas, CSV con pandas
# with open('/home/pydev/workflow/dt_unifed_statistics/data/Calendario_Pimovil.csv', 'r', encoding='utf-8', errors='ignore') as archivo:
#     df_ruta_visitas_vendedor_Original = pd.read_csv(archivo)

# Abrir el archivo con las informacion de las fechas asignadas dado, el dia asignado y la frecuencia
df_calendario_Pimovil_Original = pd.read_csv('/home/pydev/workflow/dt_unifed_statistics/data/Calendario_Pimovil.csv')
# df_calendario_Pimovil_Original = df_calendario_Pimovil_Original.to_string()
# Para exportarlo como un archivo Excel, (solo es para poder visualizarlo en excel online mas facil)
#df_ruta_visitas_vendedor.to_excel('/content/data_ruta_visitas_vendedor.xlsx', index=False)
#df_calendario_Pimovil.to_excel('/content/df_calendario_Pimovil.xlsx', index=False)
df_calendario_Pimovil_Original.head(3)

,FECHA,COD_DIA VISITA,DIA VISITA,COD SEMANAL,SEMANAL,COD QUINCENAL,QUINCENAL,COD MENSUAL,MENSUAL
0,01/01/2023,1,Domingo,1,Semanal,2,Quincena 1 y 3,4,Mensual Semana 1
1,02/01/2023,2,Lunes,1,Semanal,3,Quincena 2 y 4,5,Mensual Semana 2
2,03/01/2023,3,Martes,1,Semanal,3,Quincena 2 y 4,5,Mensual Semana 2

In [276]:
# # Se escogen solo las columnas que son de interes para las rutas
# nombres_rutas = ["Cod_Cliente","Inicio_Visita", "CRIT_CLIENTE_DIA_VISITA", "CRIT_CLIENTE_RUT_FREC"]

# df_ruta_visitas_vendedor = df_ruta_visitas_vendedor_Original[nombres_rutas]
# print(df_ruta_visitas_vendedor.dtypes)
# df_ruta_visitas_vendedor.head(5)

In [277]:
# Se escogen solo las columnas que son de interes, solo los codigos el resto es redundante
nombres_Pimovil = ["FECHA","COD_DIA VISITA", "COD SEMANAL", "COD QUINCENAL", "COD MENSUAL"]

# df_calendario_Pimovil = df_calendario_Pimovil_Original[nombres_Pimovil]
df_calendario_Pimovil = df_calendario_Pimovil_Original.iloc[:, [0, 1, 3, 5, 7]]

#print(df_calendario_Pimovil.dtypes)
df_calendario_Pimovil.head(5)

        FECHA  COD_DIA VISITA  COD SEMANAL  COD QUINCENAL  COD MENSUAL
0  01/01/2023               1            1              2            4
1  02/01/2023               2            1              3            5
2  03/01/2023               3            1              3            5
3  04/01/2023               4            1              3            5
4  05/01/2023               5            1              3            5

In [278]:
# Funcion para transformar los numeros de los codigos, en el formato correcto
def generar_codigo(number):
  return "00"+str(number)

# Lista de nombres de las columnas que deseas convertir
columnas_a_convertir = ["COD_DIA VISITA", "COD SEMANAL", "COD QUINCENAL", "COD MENSUAL"]

#funcion .applymap para recorrer varias columnas y aplicar la tranformacion
df_calendario_Pimovil = df_calendario_Pimovil_Original.copy()
df_calendario_Pimovil[columnas_a_convertir] = df_calendario_Pimovil[columnas_a_convertir].applymap(generar_codigo)

# Verificar el tipo de dato después de la conversión
df_calendario_Pimovil.head(5)

,FECHA,COD_DIA VISITA,DIA VISITA,COD SEMANAL,SEMANAL,COD QUINCENAL,QUINCENAL,COD MENSUAL,MENSUAL
0,01/01/2023,001,Domingo,001,Semanal,002,Quincena 1 y 3,004,Mensual Semana 1
1,02/01/2023,002,Lunes,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2
2,03/01/2023,003,Martes,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2
3,04/01/2023,004,Miercoles,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2
4,05/01/2023,005,Jueves,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2

### Modificando las fechas

Se cambia el formato de las fechas para luego ser usado

In [279]:
# #Cambios en para Pimovil
# df_calendario_Pimovil["FECHA"] = pd.to_datetime(df_calendario_Pimovil["FECHA"], format="%d/%m/%Y")
# # Se cambia el formato Datetime a Object
# df_calendario_Pimovil["FECHA"] = df_calendario_Pimovil["FECHA"].dt.date

# #Cambios para las Rutas
# df_ruta_visitas_vendedor["Inicio_Visita"] = pd.to_datetime(df_ruta_visitas_vendedor_Original["Inicio_Visita"], format="%m/%d/%Y %H:%M")
# #Se dejan solo registros para el año 2023
# df_ruta_visitas_vendedor = df_ruta_visitas_vendedor[df_ruta_visitas_vendedor["Inicio_Visita"].dt.year == 2023]
# # Ahora, extrae solo la parte de fecha (sin la hora) y se deja en formato Object
# df_ruta_visitas_vendedor["Inicio_Visita"] = df_ruta_visitas_vendedor["Inicio_Visita"].dt.date

In [280]:
# Se revisa que ambos tienen el mismo formato
# print(df_ruta_visitas_vendedor.dtypes)
# print(df_calendario_Pimovil.dtypes)

In [281]:
# df_ruta_visitas_vendedor

In [282]:
df_calendario_Pimovil.head(3)

,FECHA,COD_DIA VISITA,DIA VISITA,COD SEMANAL,SEMANAL,COD QUINCENAL,QUINCENAL,COD MENSUAL,MENSUAL
0,01/01/2023,001,Domingo,001,Semanal,002,Quincena 1 y 3,004,Mensual Semana 1
1,02/01/2023,002,Lunes,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2
2,03/01/2023,003,Martes,001,Semanal,003,Quincena 2 y 4,005,Mensual Semana 2

### Agrupando las fechas por "Cod_Cliente" de las Rutas

In [283]:
# # Agrupa las fechas por Cod_cliente y crea una serie de listas con las fechas de visita
# fechas_agrupadas = df_ruta_visitas_vendedor.groupby("Cod_Cliente")["Inicio_Visita"].apply(list).reset_index()

# # Renombra la columna resultante
# fechas_agrupadas.rename(columns={"Inicio_Visita": "Fechas_agrupadas"}, inplace=True)
# fechas_agrupadas

In [284]:
# # Agrupar por "Cod_Cliente" y codigos dia y frecuan se aplica una función que obtenga códigos distintos
# grupos_codigo = df_ruta_visitas_vendedor.groupby("Cod_Cliente").agg({
#     "CRIT_CLIENTE_DIA_VISITA": pd.Series.unique,
#     "CRIT_CLIENTE_RUT_FREC": pd.Series.unique
# }).reset_index()

# # Renombrar las columnas resultantes si es necesario
# grupos_codigo.rename(columns={"CRIT_CLIENTE_DIA_VISITA": "Codigo_Dia", "CRIT_CLIENTE_RUT_FREC": "Codigo_Frecuencia"}, inplace=True)

# grupos_codigo

In [285]:
# ab = ['Codigo_Dia', 'Codigo_Frecuencia']
# grupos_codigo[ab] = grupos_codigo[ab].applymap(lambda x: x[0])
# grupos_codigo

In [286]:
# # Se combinan los 2 dataframes de los codigos y de las fechas en uno solo teniendo en cuenta el "Cod_Cliente"
# df_ruta_visitas_vendedor_Agrupado = pd.merge(fechas_agrupadas, grupos_codigo, on="Cod_Cliente", how="left")
# df_ruta_visitas_vendedor_Agrupado

### Agrupando las fechas por Dia y Frecuencia de Pimovil

In [287]:
# Usar el método .melt() para "desapilar" las columnas de códigos
df_calendario_Pimovil_UnaTabla = pd.melt(df_calendario_Pimovil, id_vars=["FECHA", "COD_DIA VISITA"], value_vars=["COD SEMANAL",	"COD QUINCENAL","COD MENSUAL"], var_name="Tipo_Codigo", value_name="Codigo_Frecuencia")

# Cambiar el nombre de la columna utilizando el método .rename()
df_calendario_Pimovil_UnaTabla.rename(columns={'COD_DIA VISITA': 'Codigo_Dia', 'FECHA': 'Fechas_Asignadas'}, inplace=True)

df_calendario_Pimovil_UnaTabla.head(10)

  Fechas_Asignadas Codigo_Dia  Tipo_Codigo Codigo_Frecuencia
0       01/01/2023        001  COD SEMANAL               001
1       02/01/2023        002  COD SEMANAL               001
2       03/01/2023        003  COD SEMANAL               001
3       04/01/2023        004  COD SEMANAL               001
4       05/01/2023        005  COD SEMANAL               001
5       06/01/2023        006  COD SEMANAL               001
6       07/01/2023        007  COD SEMANAL               001
7       08/01/2023        001  COD SEMANAL               001
8       09/01/2023        002  COD SEMANAL               001
9       10/01/2023        003  COD SEMANAL               001

In [288]:
# Agrupa por las columnas "Columna1" y "Columna2" y aplica la función list() para obtener las fechas en una lista
df_calendario_Pimovil_Agrupado = df_calendario_Pimovil_UnaTabla.groupby(["Codigo_Dia", "Codigo_Frecuencia"])["Fechas_Asignadas"].apply(list).reset_index()

df_calendario_Pimovil_Agrupado.head(5)

,Codigo_Dia,Codigo_Frecuencia,Fechas_Asignadas
0,001,001,"[01/01/2023, 08/01/2023, 15/01/2023, 22/01/202..."
1,001,002,"[01/01/2023, 15/01/2023, 29/01/2023, 12/02/202..."
2,001,003,"[08/01/2023, 22/01/2023, 05/02/2023, 19/02/202..."
3,001,004,"[01/01/2023, 29/01/2023, 26/02/2023, 26/03/202..."
4,001,005,"[08/01/2023, 05/02/2023, 05/03/2023, 02/04/202..."

In [289]:
# df_ruta_visitas_vendedor_Agrupado.head(5)

### Cross Join

In [290]:
# Cross Join
# Realiza la operación de cruce (merge) en función de las columnas "Codigo_Dia", "Codigo_Frecuencia"
# resultado = pd.merge(df_ruta_visitas_vendedor_Agrupado, df_calendario_Pimovil_Agrupado, on=["Codigo_Dia", "Codigo_Frecuencia"], how="inner")

# "how" especifica el tipo de cruce, puede ser "inner", "left", "right" o "outer", dependiendo de tu necesidad

In [291]:
# resultado

In [292]:
# df = resultado[resultado['Codigo_Dia'] == '001']
# df